<div id="footer">
  <p>
    © 2020 - {{ "now" | date: "%Y" }}  ·  <a href="https://dufour.xyz">{{ site.owner }}</a>  ·
    <a href={% link pages/categories.md %}>Categories</a> ·
    <a href={% link pages/projects.md %}>Projects</a> ·
    <a href=/feed.xml>Atom</a>
  </p>
  <p id="random-quote">The road becomes what you leave</p>
</div>

<script type="text/javascript">
  let xhr = new XMLHttpRequest();
  xhr.open("GET", "/assets/quotes.txt");
  xhr.send();
  xhr.onload = function() {
    let quotes = xhr.response.split("\n");
    let theQuote = quotes[quotes.length * Math.random() | 0];
    document.getElementById('random-quote').firstChild.nodeValue = '“' + theQuote + '”';
  };
</script>