<div id="footer">
  <p>
    © 2020 - {{ "now" | date: "%Y" }}  ·
    <a href="{{ site.parent }}">{{ site.owner }}</a>  ·
    <a href="{% link pages/projects.md %}">Projects</a> ·
    <a href=/feed.xml>Atom</a>
  </p>
  <p id="wow">“The road becomes what you leave”</p>
</div>

<script type="text/javascript">
  let xhr = new XMLHttpRequest();
  xhr.open("GET", "{% link /assets/wow.txt %}");
  xhr.send();

  function makeQuote() {
    let wow = xhr.response.split("\n");
    let w = wow[wow.length * Math.random() | 0];
    document.getElementById('wow').firstChild.nodeValue = '“' + w + '”';
  }

  xhr.onload = function() {
    makeQuote();
  };

  document.getElementById('wow').addEventListener('click', function (event) {
    makeQuote();
  }, false);

</script>