:root {
	--accent-color: #fdf52b;
	--accent-color-dark: lightgrey;
	--font-color: black;
	--font-color-dark: white ;
	--background-color: white;
	--background-color-dark: #333;
}

body {
	margin-top: 0px;
	padding: 0;
	font-family: LM, serif;
	font-size: 100%;
	width: 40%;
	margin: 0 auto;
	max-width: 800px;
}

::selection { 
	background: var(--accent-color);
}

img {
	max-width: 100%;
}

.cover { /* effective in light and dark theme */
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

em,
.cta{
	background: var(--accent-color);
	font-style: normal;
	text-decoration: none;
}

ul li {
	list-style-type: "– ";
}

blockquote {
	margin-left: 2em;
	font-style: italic;
	border-left: var(--font-color) solid 1px;
	padding-left: 1em;
	text-align: left;
}

pre {
	background-color: whitesmoke;
	padding: 0.25em;
}

code {
	font-family: LM-Mono;
}

.footnote {
	font-size: small;
}

/* LINKS STUFF */

a,
a:visited {
	text-decoration: underline;
	color: inherit; 
}

a:hover {
	background: var(--accent-color);
	text-decoration: none;
}

.title-link a {
	text-decoration: none;
}

.title-link a:hover {
	text-decoration: underline;
}

#categories a,
#categories a:link,
#categories a:visited {
	background-color: grey;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

/* TOP PAGE */

#logo {
	padding-top: 0.5em;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
}

#logo a {
	text-decoration: none;
	background: none;
}

#nav {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--font-color);
}

/* CONTENT */

#content {
	text-align: left;
	margin: auto;
	padding: auto;
}

#post-content {
	text-align: justify;
}

h1 {
	margin-bottom: 0;
}

h1 h2 {
	text-align: left;
}

#post-short h3,
#post h2 {
	margin-bottom: 0px;
}

#post-short i,
#post i {
	font-size: 0.8em;
	color: grey;
}

figcaption {
	font-style: italic;
}

/* BOTTOM PAGE */

#footer {
	text-align: center;
	margin: auto;
	font-size: 0.8em;
	margin-bottom: 10px;
	margin-top: 1em;
	padding-bottom: 10px;
	border-top: 1px solid var(--font-color);
}

/* Media Queries */

@media only screen and (max-width: 800px) {
	/* Mobile phone */
	body {
		width: 95%;
	}
}

@media (prefers-color-scheme: dark) {
	
	html {
		background-color: var(--background-color-dark);
		color: var(--font-color-dark);
	}

	::selection { 
		background: var(--accent-color-dark);
	}
	
	h1, h2, h3 {
		color: var(--font-color-dark);
	}
	
	em,
	.cta{
		color: black;
		background: var(--accent-color-dark);
	}

	a.cta ,
	a:visited.cta { /* Hack? */
		color: var(--font-color); 
	}
	
	a:hover {
		background: var(--accent-color-dark);
		text-decoration-color: var(--font-color-dark);
	}

	pre {
		background-color: #222;
	}

	blockquote {
		border-left-color: var(--font-color-dark);
	}

	#nav {
		border-bottom-color: var(--font-color-dark);
	}

	#footer {
		border-top-color: var(--font-color-dark);
	}
}