body {
	margin-top: 0px;
	padding: 0;
	font-family: LM, serif;
	font-size: 100%;
	width: 40%;
	margin: 0 auto;
}

::selection { 
	background: #fdf52b; 
}

em,
.cta{
	background: #fdf52b;
	font-style: normal;
}

ul li {
	list-style-type: "– ";
}

blockquote {
	margin-left: 2em;
	font-style: italic;
	border-left: #000 solid 1px;
	padding-left: 1em;
	text-align: left;
}

pre {
	background-color: whitesmoke;
	padding: 0.25em;
}

code {
	font-family: LM-Mono;
}

.footnote {
	font-size: small;
}

/* LINKS STUFF */

a,
a:visited {
	text-decoration: underline;
	color: inherit; 
}

a:hover {
	text-decoration: none;
	background: #fdf52b;
}

/* TOP PAGE */

#logo {
	padding-top: 0.5em;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
}

#logo a {
	text-decoration: none;
	background: none;
}

#nav {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid #000;
}

#content a:link,
#content a:visited {
	text-decoration: underline;
}

#content a:hover {
	text-decoration: none;
}

#post-short a:link,
#post-short a:visited {
	text-decoration: none;
	color: #000
}

#post-short a:hover {
	text-decoration: underline;
}

#categories a,
#categories a:link,
#categories a:visited {
	background-color: grey;
	text-decoration: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 25px;
}

#categories a:hover {
	text-decoration: underline;
}

/* CONTENT */

#content {
	text-align: left;
	margin: auto;
	padding: auto;
}

#post-content {
	text-align: justify;
}

h1 {
	margin-bottom: 0;
}

h1 h2 {
	text-align: left;
}

#post-short h3,
#post h2 {
	margin-bottom: 0px;
}

#post-short i,
#post i {
	font-size: 0.8em;
	color: grey;
}

figcaption {
	font-style: italic;
}

/* BOTTOM PAGE */

#footer {
	text-align: center;
	margin: auto;
	font-size: 0.8em;
	margin-bottom: 10px;
	margin-top: 1em;
	padding-bottom: 10px;
	border-top: 1px solid #000;
}

/* Media Query */

@media only screen and (max-width: 768px) {
	/* Mobile phone */
	body {
		width: 95%;
	}
}

@media (prefers-color-scheme: dark) {
	
	html {
		background-color: #222;
		color: white;
	}
	
	h1, h2, h3 {
		color: white;
	}
	
	em,
	.cta{
		color: black;
	}

	pre {
		background-color: #333;
	}

	blockquote {
		border-left-color: white;
	}

	#nav {
		border-bottom-color: white;
	}

	#footer {
		border-top-color: white;
	}
}