---
layout: default
---

<article>
  <h1 class="title">{{ page.title }}</h1>
  {% if page.subtitle %}
    <div class="subtitle">{{ page.subtitle }}</div>
  {% endif %}
  <div class="byline">
    <time datetime="{{ page.date | time_tag }}">posted on {{ page.date | date: "%b, %-d %Y" }}</time>
    {% if page.modified %}
      · last edited on {{ page.modified | date: "%b, %-d %Y" }}
    {% endif %}
    <br>
    {{ page.author }}
    {% if page.location %}
      · {{ page.location }}
    {% endif %}
  </div>
  <div id="post-content">
    {{ content }}
  </div>
  {% if page.categories.size > 0 %}
  <div id="categories">
    <p><b>Categories:</b>&nbsp;
      {% for category in page.categories %}
      <a href="{{site.baseurl}}/categories/{{category}}/" style="color: white;">#{{category}}</a>&nbsp;
      {% endfor %}
    </p>
  </div>
  {% endif %}
</article>