---
layout: default
---

<div id="post">
  <h2>{{ page.title }}</h2>
  <i>posted on {{ page.date | date: "%-d. %b %Y" }}</i>
  {% if page.modified %}
  <i> · last edited on {{ page.modified | date: "%-d. %b %Y" }}</i>
  {% endif %}
  <br>
  <i>{{ page.author }}</i>
  {% if page.location %}
  <i> · {{ page.location }}</i>
  {% endif %}
  <div id="post-content">
    {{ content }}
  </div>
  {% if page.categories.size > 0 %}
  <div id="categories">
    <p><b>Categories:</b>&nbsp;
      {% for category in page.categories %}
      <a href="{{site.baseurl}}/categories/{{category}}/" style="color: white;">#{{category}}</a>&nbsp;
      {% endfor %}
    </p>
  </div>
  {% endif %}
</div>